<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLGV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<!-- <add name="QLGV" connectionString="Data Source=ADMIN-PC;Initial Catalog=QLGV;User ID=sa;Password=sql2022;TrustServerCertificate=True" providerName="System.Data.SqlClient" /> -->
		<add name="QLGV" connectionString="Data Source=ADMIN-PC;Initial Catalog=QLGV;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <QLGV.Properties.Settings>
            <setting name="connString" serializeAs="String">
                <value />
            </setting>
        </QLGV.Properties.Settings>
    </applicationSettings>
</configuration>